@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald";
}

@mixin h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
}
@mixin section {
  margin-top: 40px;
  padding: 10px;
  border-top: 1px solid rgb(233, 233, 233);
}

.container {
  width: 1020px;
  margin: auto;
  > .top-header {
    width: 100%;
    display: flex;
    > div {
      width: 100%;
      font-size: 14px;
      line-height: 32px;
      background-color: #ccc;
      padding: 0 10px;
      span {
        font-weight: bold;
      }
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
  > .main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px 0;
    background: rgb(233, 233, 233);
    > div {
      width: 100%;
      padding: 0 10px;
      > img {
        max-width: 180px;
      }
      > form {
        margin-left: auto;
        width: 80%;
        background: red;
        position: relative;
        > input[type="text"] {
          width: 100%;
          padding: 8px 10px;
        }
        > button {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          padding: 0 16px;
          cursor: pointer;
        }
      }
    }
  }
  > nav {
    width: 100%;
    background: #ccc;
    position: relative;
    z-index: 10;
    > ul {
      display: flex;
      li {
        list-style: none;
        border-right: 2px solid rgb(133, 133, 133);
        min-width: 150px;
        a {
          text-decoration: none;
          display: block;
          font-size: 18px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: black;
          text-align: center;
          line-height: 40px;
          font-weight: 300;
        }
        &:last-child {
          border-right-width: 0;
        }
        &:hover {
          background: rgb(133, 133, 133);
          > a {
            color: #fff;
            font-weight: 400;
          }
          > .mega {
            display: grid;
          }
        }
        > .mega {
          width: 100%;
          display: none;
          grid-template-columns: repeat(4, 1fr);
          background: rgb(133, 133, 133);
          position: absolute;
          top: 100%;
          left: 0;
          > ul {
            li {
              &:nth-child(1) {
                > a {
                  font-weight: 400;
                }
              }
              > a {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  > .banner {
    width: 100%;
    height: 450px;
    position: relative;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    > div {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 48px;
      color: #fff;
      letter-spacing: 5px;
      background: rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
      > div {
        width: 100%;
        text-align: center;
        text-decoration: underline;
        &:nth-child(2) {
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
  }
  > .ourTeam {
    margin-top: 40px;
    > h2 {
      @include h2();
    }
    > .team {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 8px;
      margin-top: 20px;
      text-align: center;
      > div {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 6px #ccc;
        > img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          border: 1px solid #ccc;
          padding: 6px;
          display: block;
          margin: auto;
          box-shadow: 0 0 10px #000;
        }
        > h2 {
          text-transform: uppercase;
          margin: 10px 0;
        }
        > p {
          font-style: italic;
          color: rgb(58, 58, 58);
          font-weight: 300;
        }
        > button {
          padding: 8px 16px;
          border-width: 0;
          margin: 10px 0;
          background: rgb(58, 58, 58);
          color: #fff;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }
  }
  > .blogPost {
    @include section();
    > h2 {
      @include h2();
    }
    > .postItem {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 20px;
      div {
        img {
          width: 100%;
          height: 350px;
          object-fit: cover;
        }
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          > h2 {
            font-size: 32px;
          }
          > article {
            color: rgb(58, 58, 58);
            font-style: italic;
            font-size: 14px;
            margin-top: -4px;
            margin-bottom: 20px;
          }
          > p {
            letter-spacing: 1px;
          }
          > button {
            display: block;
            width: 150px;
            margin-top: 20px;
            border-width: 0;
            padding: 12px;
            color: #fff;
            background: rgb(58, 58, 58);
            border-radius: 6px;
            cursor: pointer;
          }
        }
      }
    }
  }
  > .clients {
    @include section();
    > h2 {
      @include h2();
    }
    > div {
      margin-top: 20px;
      display: flex;
      justify-content: space-evenly;
      img {
        height: 60px;
      }
    }
  }
  .contact {
    @include section();
    > h2 {
      @include h2();
    }
    > div {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      margin-top: 40px;
      > div {
        form {
          input,
          textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            border: none;
            background: rgb(250, 250, 250);
            color: #030303;
            font-size: 18px;
            border-radius: 8px;
            box-shadow: 0 0 6px #000;
            &::placeholder {
              color: #ccc;
            }
            &:focus {
              outline: none;
            }
          }
          button {
            padding: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            border: none;
            background: #000;
            color: #fff;
            width: 150px;
            border-radius: 8px;
            box-shadow: 2px 2px 2px #ccc;
            &:hover {
              background: #4d4d4d;
            }
          }
        }
      }
    }
  }
}
.footer {
  background-color: #4d4d4d;
  color: #fff;
  width: 100%;
  > .container {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    > .footerLeft {
      > h3 {
        font-weight: 300;
        text-decoration: underline;
        margin-bottom: 12px;
      }
      > .footerOneList {
        list-style: none;
        padding-right: 80px;
        > li {
          a {
            text-decoration: none;
            color: rgb(200, 200, 200);
            font-weight: 200;
            display: block;
            line-height: 32px;
            border-bottom: 1px solid #ccc;
            padding: 0 16px;
          }
          &:hover {
            background: #030303;
          }
        }
      }
    }
    > .footerMiddle {
      > h3 {
        font-weight: 300;
        text-decoration: underline;
        margin-bottom: 12px;
      }
      > .footerTwoList {
        list-style: none;
        > li {
          a {
            text-decoration: none;
            color: rgb(200, 200, 200);
            font-weight: 200;
            display: block;
            line-height: 32px;
          }
          &:hover {
            background: #030303;
          }
        }
      }
    }
    > .fooetrRight {
      > h3 {
        font-weight: 300;
        text-decoration: underline;
        margin-bottom: 12px;
      }
      > .socialLinks {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
        > li {
          width: 50px;
          margin: 0 8px;
          border: 1px solid #ccc;
          border-radius: 50%;
          > a {
            display: block;
            text-decoration: none;
            line-height: 50px;
            font-size: 22px;
            text-align: center;
            color: #ccc;
          }
          &:hover {
            background: #ccc;
            > a {
              color: #4d4d4d;
            }
          }
          &:nth-child(1) {
            margin-left: 0;
          }
        }
      }
      > .socialImages {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        > li {
          padding-right: 8px;
          > img {
            width: 50px;
            height: 50px;
            object-fit: contain;
          }
        }
      }
    }
  }
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
}
